@font-face {
    font-family: 'Bree Serif';
    src: url('BreeSerif-Regular.eot');
    src: local('Bree Serif Regular'), local('BreeSerif-Regular'),
        url('BreeSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('BreeSerif-Regular.woff2') format('woff2'),
        url('BreeSerif-Regular.woff') format('woff'),
        url('BreeSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

